beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
idna==2.8
kiwisolver==1.1.0
lxml==4.4.2
matplotlib==3.1.2
numpy==1.18.1
pip==19.0.3
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
setuptools==40.8.0
six==1.14.0
soupsieve==1.9.5
urllib3==1.25.8
wheel==0.34.1
pynput==1.6.8
